<div id="menu">
  <ul>
    <li><a href="{% url 'users:index' %}">トップ</a></li>
    <li><a href="{% url 'users:my_page' %}">マイページ</a></li>
    <li><a href="{% url 'users:show_all_user' %}">メンバー</a></li>
    <li>開発：</li>
    <li><a href="{% url 'users:todo_show' %}">TODO</a></li>
    <!-- <li><a href="{% url 'users:analysis_test' %}">analysis_test</a></li> //-->
    <!-- <li><a href="{% url 'users:slider_test' %}">slider_test</a> </li> //-->
    <!-- <li><a href="{% url 'users:article_form_with_tags_test' %}">記事投稿 withタグ</a></li> //-->
    <!-- <li><a href="{% url 'users:cover_image_preview_test' %}">画像プレビュー</a> </li> //-->
  </ul>
</div>