{% extends 'users/base.html' %}
{% block content %}


<p class="center mt80"> パスワード変更を行うメールアドレスを入力してください。</p>

  <div id=login>
    <form class="" action="" method="post">
      {% csrf_token %}

      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label><br>
        <span></span>{{ field }}
        {{ field.errors }}
      {% endfor %} <br>
      <input type="submit" class="" value="送信"></input>
    </form>

    {% if form.non_field_errors %}
      <div class='errorMessage'>
        {{ form.non_field_errors }}
      </div>
    {% endif %}

  </div>

{% endblock content %}